.head-container{
    background-color: gray;
    display: flex;
    padding: 25px;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}
.arrow-content,.name-id,.print-content{
    flex: 1 1 auto;
}
.arrow-content a {
    text-decoration: none;
    font-size: 25px;
    color: black;
}
.name-id{
    text-align: center;
    font-size: 20px;
}
.print-content button {
    float: right;
    background-color: black;
    color: white;
    height: 40px;
    width: 60px;
    font-size: 15px;
}
.top-container{
    border: 1px solid grey;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
}
.top-content-appointement, .top-content-email, .top-content-phone{
    padding: 10px;
}
.middle-container{
    background-color: bisque;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    height: 120px;
    margin-bottom: 20px;
    margin-left: 10px;
    border-radius: 5px;
    vertical-align: middle;
}
.middle-container-status,.middle-content-door,.middle-content-time{
    padding: 50px;
}
.bottom-container{
    border: 1px solid black;
    display: flex;
    padding: 10px;
    margin-left: 10px;
    border-radius: 5px;
}
.bottom-container input{
    width: 20px;
    height: 20px;
    margin: 15px;
}
.bottom-container img{
    width: 100px;
    height:100px;
    margin: 15px;
}
.bottom-container-project{
    margin: 15px;
}
.bottom-container-arrow a{
    text-decoration:none;
    font-size: 25px;
    color: black;
    float: right;
    margin-top: 70px;
}






